example_data/

# deprecated scripts
backup/

# job yaml file
cwl/tools/*.txt
cwl/tools/*.bed
cwl/test_data/

# backup cwl scripts
cwl/tools/bak/

# test merge-flattened
cwl/workflows/test_merge-flattened/

# workflow and job config in ICA
# cwl/tests/

# test make_sample_subdir
cwl/tools/toolbox/test_make_sample_subdir

